<body>
    <div class="welcome-container">
        <h1>Hello!</h1>
        <h3>Good to see you here</h3>
        <h4>To experience <b>xCalendar</b> you need to have an account.</h4>
    </div>
    <div class="navigation-container">
        <a routerLink="/login" class="navigation-link" id="login-link"><img src="../../assets/img/login-icon.png">Login</a>
        <a routerLink="/registration" class="navigation-link" id="registration-link"><img src="../../assets/img/register-icon.png">Registration</a> 
    </div>
</body>
