body
{
    background-image: url('../../assets/img/welcome-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom; 
    text-align: center;

    .welcome-container
    {
        padding-top: 20em;

        h1 
        {
            font-size: 12em;
            font-weight: bold;
            color: black;
            padding-bottom: 0.5em;
            cursor: default;
        }

        h3 
        {
            font-size: 2.5em;
            opacity: 0.8;
            padding-bottom: 0.25em;
            cursor: default;
        }

        h4 
        {
            font-size: 1.25em;
            opacity: 0.8;
            cursor: default;
        }
    }

    .navigation-container
    {
        margin-top: 8em;

        a 
        {
            color: black;
            text-decoration: none; 
            border-radius: 32px;
            padding: 0.25em 0.5em;
            font-size: 1.75em;
            font-weight: bold;
            opacity: 0.8;

            img 
            {
                width: 1.25em;
                padding-right: 0.5em;
                vertical-align: sub;
            }

            &:hover
            {
                background-color: rgba(0, 0, 0, 0.25);
                text-decoration: underline;
            }
        }

        #login-link
        {
            margin-right: 4em;
        }
    }
} 
