<header>
    <div class="app-header">
        <mat-toolbar class="app-header"> 
          <button (click)="onClickHome()"><img src="assets/img/xcalendar-logo-accent.png" class="xcalendar-logo"></button>
            <a class="user-profile-link" (click)="onClickProfile()"> 
              <div class="user-profile-picture">
                <img src="assets/img/profile-pic.png"> 
              </div>
              <div class="username">
                <h3 *ngFor="let user of users$ |async" >{{ user.username }}</h3>
              </div>
            </a>
        </mat-toolbar>        
    </div> 
    <hr class="fade-out-header">
</header>
