<header>
    <div class="app-header">
        <mat-toolbar class="app-header"> 
          <button (click)="onClick()"><img src="assets/img/xcalendar-logo-accent.png" class="xcalendar-logo"></button>
            <a class="user-profile-link" href="placeholder">
              <div class="user-profile-picture">
                <img src="assets/img/profile-pic.png"> 
              </div>
              <div class="username">
                <h3>{{ userMailAddress }}</h3>
              </div>
            </a>
        </mat-toolbar>        
    </div> 
    <hr class="fade-out-header">
</header>
