<header>
  <app-header></app-header>
</header>
<body>
  <div class="content-container">
    <div class="item" id="item-1"><h3>Calendar - {{ date }}</h3></div> 
    <div class="item" id="item-2"><h3>Upcoming Events</h3></div>
    <div class="item" id="item-3"><h3>Favourite Places</h3></div>
    <div class="item" id="item-4"><h3>Maps</h3></div>
    <div class="item" id="item-5"><h3>Weather Forecast</h3></div>
    <div class="item" id="item-6"><h3>Chats</h3></div>
    <div class="item" id="item-7"><h3>Lorem Ipsum</h3></div>
  </div>
</body>
<footer>
  <app-footer></app-footer>
</footer>

