body
{
    display: flex;

    .sidenav-container
    {
        width: 4%;
    }
    .content 
    {
        margin-top: 15%;
        margin-left: 27%;
        border: 1px solid black;
        height: fit-content;
    }
}