body
{
    margin-top: 16vw; 
    margin-left: 32vw; 
    border: 1px solid black; 
    width: fit-content;
    height: fit-content;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}