<body>
    <div class="login-form"> 
        <div class="login-headline">
            <img src="assets/img/xcalendar-logo.png">
        </div>
        <div class="login-form-split">
            <hr>
        </div>
        <div class="login-form-information">
            <h2 lang="en">User log in</h2>   
        </div>

        <div class="login-form-user-input"> 
            <mat-form-field appearance="outline" class="login-form-user-field">
                <mat-label lang="en">Email address</mat-label> 
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. name@example.com" lang="en">

                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">Please enter a valid email address</mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">Email is <strong>required</strong></mat-error>
            </mat-form-field>
    
            <a href="placeholder" class="login-form-forgot-password" tabindex="-1" lang="en">Forgot password</a> 

            <mat-form-field appearance="outline" class="login-form-user-field">
                <mat-label lang="en">Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">

                <button tabindex="-1" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            </mat-form-field>
        </div>

        <div class="login-form-button-area">
            <button mat-raised-button class="login-form-button-login" color="primary" lang="en">Log in</button>
        </div>

        <div class="login-form-hint-area">
            <p class="login-form-hint" lang="en">Don't have a xCalendar account? <a routerLink="register" class="login-form-hyperlink" tabindex="-1" lang="en">Register now</a></p> 
        </div>  
    </div>  
</body>
