body
{
    padding-top: 1px;
    background-image: url("../../assets/img/login-background.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-headline
{
    display: flex;
    width: fit-content;

    img
    {
        height: 5.5vh;
        margin-left: 2vw;
    } 
}

.login-form-split
{
    margin-left: 0;
    margin-right: 2vw;
    margin-bottom: 4vh;

    hr 
    {
        margin-left: 0px;
        width: 100%; 
    }
}

.login-form
{
    margin: auto;
    width: 50%;
    margin-top: 16vh; 
    padding-left: 2vw;
    padding-top: 4vh;
    padding-bottom: 1vh; 
    border-radius: 8px;
    background-color: whitesmoke; 
    display: grid;
    width:fit-content;

    .login-form-information
    {   
        h2
        {
            margin-left: 8vw;
            margin-bottom: 4vh;         
            color: rgba(63, 81, 181, 0.9); 
            cursor: default;
        }
    }

    .login-form-user-input
    {
        display: grid;
        width:fit-content;
    }

    .login-form-user-field
    {
        width: 21vw;
    }

    .login-form-forgot-password
    {
        margin-left: 15.5vw;
        font-size: small;
        font-weight: bold;
        text-decoration: none;
        color: rgba(63, 81, 181, 0.75);

        &:hover
        {
            text-decoration: underline;
        }
    }

    .login-form-button-area
    {
        display: flex;
        margin-top: 6vh;
        width: fit-content;

        .login-form-button-login
        {
            width: 21vw;
            margin-right: 2vw;

            &:hover
            {
                text-decoration: underline;
            }
        }
    }

    .login-form-hint-area
    {
        width: fit-content;
        margin-top: 2.5vh;
        margin-left: 3.25vw;

        .login-form-hint
        {
            font-size: small;
            color: rgba(0, 0, 0, 0.7);
        }

        .login-form-hyperlink
        {
            text-decoration: none;
            font-weight: bold; 
            color: rgb(63, 81, 181); 

            &:hover
            {
                text-decoration: underline;
            }
        }
    }

    .login-language-selection
    {
        margin-left: 15.5vw; 
        margin-top: 1.5vh;

        button 
        {
            color: rgba(0, 0, 0, 0.6);   
            font-size: small;  
        }

        img 
        {
            margin-right: 0.25vw;
            height: 2vh;
            vertical-align: middle;
        }
    }
}