body
{
    background-color: rgb(51, 58, 79);
    .footer-separator
    {
        height: 0.15em;
        background-color: rgb(255, 64, 129); 
    }

    .copyright-container
    {
        text-align: center;
        width: fit-content;
        padding: 1em;
        margin: 1em 55em;

        p
        {
            color: whitesmoke; 
            cursor: default;
        }
    }
}