body
{
    align-content: center;
    text-align: center; 
    padding-top: 2%;
    align-items: center;
    align-content: center;
    background-color: rgb(52, 61, 63);

    .user-profile-container
    {
        width: 50%;
        margin-left: 25%;
        display: grid;
        background-color: whitesmoke;
        border-radius: 4px;

        .form-backgound-img
        {
            background-image: url('../../assets/img/profile-background.png'); 
            background-position: center;
            height: 16em;
            display: flex;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .profile-picture
        {
            margin-top: 11.5em; 
            width: 100%;
            display: block;

            img 
            {
                border-radius: 50%;
                width: 10em;
                height: 10em;
            }
        }

        .form-backgound-img, .profile-picture
        {
            grid-area: 1 / 1;
        }

        .username-container
        {
            padding-top: 1em;
            color: rgb(63, 81, 181); 

            h2 
            {
                font-weight: bold;
                cursor: default;
            }
            p 
            {
                cursor: default;

                img 
                {
                    width: 1.5em;
                    margin-right: 0.5em;
                    vertical-align: middle;
                }
            }
        }

        .user-information-container
        {
            padding-top: 1em;
            background-color: whitesmoke;
            border-radius: 4px;
            text-align: justify;
            padding-left: 1em;
            cursor: default;
        }
    }
    .profile-form-separator
    {
        height: 0.1em;
        width: 50%;
        margin-left: 25%;
    }
}