body
{
    padding-top: 1px;
    background-image: url("../../assets/img/login-background.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-headline
{
    display: flex;
    width: fit-content;

    img
    {
        height: 5.5vh;
        margin-left: 2vw;
    } 
}

.register-form-split
{
    margin-left: 0;
    margin-right: 2vw;
    margin-bottom: 4vh;

    hr 
    {
        margin-left: 0px;
        width: 100%; 
    }
}

.register-form
{
    margin: auto;
    width: 50%;
    margin-top: 8vh; 
    padding-left: 2vw;
    padding-top: 4vh;
    padding-bottom: 1vh; 
    border-radius: 8px;
    background-color: whitesmoke; 
    display: grid;
    width:fit-content;

    .register-form-information
    {   
        h2
        {
            margin-left: 7.5vw;
            margin-bottom: 4vh;         
            color: rgba(63, 81, 181, 0.9); 
            cursor: default;
        }
    }

    .register-form-user-input
    {
        display: grid;
        width:fit-content;

        mat-form-field
        {
            width: 21vw;
            margin-bottom: 1.5vh;
        }
    }

    .register-form-button-area
    {
        display: flex;
        margin-top: 6vh;
        width: fit-content;

        .register-form-button-register
        {
            width: 21vw;
            margin-right: 2vw;

            &:hover
            {
                text-decoration: underline;
            }
        }
    }

    .register-form-hint-area
    {
        width: fit-content;
        margin-top: 2.5vh;
        margin-left: 3.5vw;

        .register-form-hint
        {
            font-size: small;
            color: rgba(0, 0, 0, 0.7);
        }

        .register-form-hyperlink
        {
            text-decoration: none;
            font-weight: bold; 
            color: rgb(63, 81, 181); 

            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}