<body>
    <div class="sidenav">
        <div class="icon-container">
            <img src="assets/img/calendar.png" class="nav-img" id="calendar-img">
            <img src="assets/img/chat.png" class="nav-img" id="chat-img">
            <img src="assets/img/weather.png" class="nav-img" id="weather-img">
            <img src="assets/img/position.png" class="nav-img" id="position-img">
            <img src="assets/img/about-us.png" class="nav-img" id="about-us-img">
            <img src="assets/img/impressum.png" class="nav-img" id="impressum-img"> 
        </div>
    </div> 
</body>

